.skillCard {
  /* width: 1160px; */
  /* height: 885px; */
  width: auto;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.skillCard__image {
  width: 100%;
  /* height: auto; */
}

.skillCard__infoContainer {
  /* width: auto; */
  /* width: 1160px; */
  /* height: 225px; */
  display: flex;
  flex-direction: column;
  gap: 40px 17px;
}

.skillCard__text {
  /* width: 810px; */
  /* height: 44px; */
  color: rgba(0, 0, 0, 1);
  /* font-style: SemiBold; */
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}

.infoContainer__infoCard {
  display: flex;
  gap: 17px;
}

.infoContainer__infoCard1 {
  /* width: 368px; */
  /* height: 141px; */
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  padding: 20px;
  border-radius: 28px;
  background: var(
    --dark-gradient,
    linear-gradient(
      152.61deg,
      rgba(21.46, 23.48, 31.57, 1),
      rgba(30.28, 33.45, 46.14, 1)
    )
  );
}

.infoCard1__card1 {
  /* width: 328px; */
  /* height: 101px; */
  display: flex;
  align-items: center;
  gap: 25px;
}

.card1__txt {
  /* width: 268px; */
  /* height: 78px; */
  color: rgba(255, 255, 255, 1);
  /* font-style: Regular; */
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
}

.infoContainer__infoCard2 {
  /* width: 431px; */
  /* height: 141px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 28px;
  background: var(
    --dark-gradient,
    linear-gradient(
      152.61deg,
      rgba(21.46, 23.48, 31.57, 1),
      rgba(30.28, 33.45, 46.14, 1)
    )
  );
}

.infoCard2__card2 {
  /* width: 391px; */
  /* height: 101px; */
  display: flex;
  align-items: center;
  gap: 25px;
}

.card2__txt {
  /* width: 323px; */
  /* height: 78px; */
  color: rgba(255, 255, 255, 1);
  /* font-style: Regular; */
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
}

.infoContainer__infoCard3 {
  /* width: 327px; */
  /* height: 141px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 28px;
  background: var(
    --dark-gradient,
    linear-gradient(
      152.61deg,
      rgba(21.46, 23.48, 31.57, 1),
      rgba(30.28, 33.45, 46.14, 1)
    )
  );
}

.infoCard3__card3 {
  /* width: 287px; */
  /* height: 101px; */
  display: flex;
  align-items: center;
  gap: 25px;
}

.card3__txt {
  /* width: 219px; */
  /* height: 78px; */
  color: rgba(255, 255, 255, 1);
  /* font-style: Regular; */
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
}

/* Блок направления */
.skillCard__directionsCourses {
  /* width: 1160px; */
  /* height: 230px; */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.directionsCourses__text {
  /* width: 810px; */
  /* height: 44px; */
  color: rgba(0, 0, 0, 1);
  /* font-style: SemiBold; */
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
}

.directionsCourses__dirCourse {
  /* width: 1160px; */
  /* height: 146px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 30px;
  border-radius: 28px;
  background: rgba(188, 236, 48, 1);
}

.dirCourse__wrapper {
  /* width: 1100px; */
  /* height: 86px; */
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  gap: 124px;

  /* display: grid;
  grid-template-columns: repeat(3, 1fr); 
  row-gap: 34px;       
  column-gap: 124px;    */
}

.dirCourse__block {
  /* width: 284px; */
  /* height: 86px; */
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 34px;
}

.dirCourse__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dirCourse__image {
  width: 100%;
  /* height: auto; */
}

.dirCourse__txt {
  /* width: 250px; */
  /* height: 26px; */
  color: rgba(0, 0, 0, 1);
  /* font-style: Regular; */
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
}

/* блок рекламного плаката */
.skillPoster {
  /* min-height: 486px; */
  width: 100%;
  margin-top: 102px;
  position: relative;
  display: flex;
  align-items: center;
  /* overflow: hidden */
  
}

.skillPoster__posterImg {
  /* width: 100%; */
  /* height: 100%; */
  /* height: auto; */
  /* transform: rotate(-2.99deg); */
  position: absolute;
  right: 30px;
  /* top: -50px; */
  /* transform: translateY(-70px); */
   transform: rotate(-0.99deg) translateY(-60px);
  z-index: 2;
  /* overflow: hidden; */
}

.skillPoster__posterImgSvg {
  /* width: auto; */
  /* height: auto; */
  /* transform: rotate(5.38deg); */
  position: absolute;
  top: 130.5px;
  right: -23.5px;
  /* top: 110px;
  right: 5px; */
  z-index: 1;

  /* Vector 6084 */
  /* width: 670.18px;
  height: 390.98px; */
  transform: rotate(-0.38deg) translateY(-40px);
}

.posterContainer {
  width: 100%;
  /* height: 100%; */
  /* height: auto; */
  /* height: auto; */
  /* max-height: 486px; */
  /* width: auto; */
  /* max-width: 1160px; */
  /* width: 1160px; */
  /* height: 486px; */
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
  /* display: flex; */
  padding: 40px;
  overflow: hidden;
}

.posterContainer__txtContainer {
  /* width: auto; */
  /* width: 437px; */
  /* height: 406px; */
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.txtContainer__title {
  /* width: auto; */
  /* width: 398px; */
  /* height: 120px; */
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
}

.txtContainer__list {
  /* width: 437px; */
  min-height: 178px;
  display: flex;
  opacity: 0.6;
  color: rgba(0, 0, 0, 1);
  /* font-style: Regular; */
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ul li::before {
    content: '•';
    margin-right: 10px;
    margin-left: 10px;
  }
}

.txtContainer__btn {
  max-width: 437px;
  /* width: 437px; */
  /* height: 52px; */
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 16px 26px 16px 26px;
  border-radius: 46px;
  background: rgba(188, 236, 48, 1);
  color: rgba(0, 0, 0, 1);
  /* font-style: Regular; */
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  border: none;
  cursor: pointer;
}

/* .infoContainer__infoCard {
  display: flex;
  gap: 20px;
}

.infoCardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.infoCardText {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
} */
