.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.header__logo {
  width: 220px;
}

.logo__image {
  width: 220px;
  height: 35px;
  margin-bottom: 15px;
}

.logo__text {
  width: 327px;
  height: 20px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  opacity: 0.5;
}

.header__btn {
  width: 103px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8;
  padding: 16px 26px 16px 26px;
  border-radius: 46px;
  background: rgba(188, 236, 48, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  text-align: center;
}
.header__btn:hover {
  background-color: rgb(167, 221, 6);
}
