.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  max-width: 426px;
  max-height: 595.5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 48;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
}
.title {
  color: rgba(0, 0, 0, 1);
  font-size: 32px;
  font-weight: 400;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: auto;
}
.exercise {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.question {
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
}
.input {
  /* width: 320px; */
  /* height: 52px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10;
  padding: 16px 18px 16px 18px;
  box-sizing: border-box;
  border: 1px solid rgba(208, 206, 206, 1);
  border-radius: 8px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
}
.input::placeholder {
  color: rgba(208, 206, 206, 1);
  font-size: 18px;
  font-weight: 400;
}
.saveButton {
  /* width: 346px; */
  /* height: 52px; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  padding: 16px 26px 16px 26px;
  border-radius: 46px;
  background: rgba(188, 236, 48, 1);
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}
.success {
  text-align: center;
}
.check {
  font-size: 48px;
  color: #9be22d;
}
