.container {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.courseTitle {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.courseTitle__text {
  color: rgba(0, 0, 0, 1);
  font-size: 60px;
  font-weight: 500;
}
.videoContainer {
  width: 100%;
  border-radius: 30px; 
  overflow: hidden;
}